$primary-color: #42C6F2;
$accent-color: #42C6F2;
$dark-color: rgb(66, 198, 242);
$background-color: #ffffff;
$text-color: #323F4B;
$text-light-color: #93A1B5;
$border-color: #7B8794;
$light-border-color: #CBD2D9;
$text-color-sub: #ddd;
$subtitle-color: #676767;
$icon-color: #757575;
$list-border-color: #EFEFEF;
$disabled-color: #aaa;
$actionbar-height: 56;
$actionbar-button-height: 50;